<p id="notice"><%= notice %></p>

<p>
  <strong>Welcome page:</strong>
  <%= @static_page.welcome_page %>
</p>

<%= link_to 'Edit', edit_static_page_path(@static_page) %> |
<%= link_to 'Back', static_pages_path %>
