  <%= nested_form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>
     
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row">
    
        <div class="input-group col-xs-6">
          <%= image_tag(@user.file_url) if @user.file? %>
          <span class="input-group-addon"><%= f.label "Upload a Photo" %></span>
          <%= f.file_field :file, class: "form-control" %>
          <%= f.hidden_field :file_cache %>
          <label>
            <%= f.check_box :remove_file %>
            Remove file
          </label>
        </div>        
    </div>
    <div class="row">
    
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label :name %></span>
          <%= f.text_field :name, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label :email %></span>
          <%= f.text_field :email, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
    
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label :password %></span>
          <%= f.password_field :password, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
    
        <div class="input-group col-xs-6">
          <span class="input-group-addon"><%= f.label :password_confirmation %></span>
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>        
    </div>
    <div class="row">
        <h3>This guy's Cat:</h3>
        <%= f.fields_for :cats do |cat| %>
          <div class="input-group col-xs-6">
            <span class="input-group-addon"><%= cat.label :name %></span>
            <%= cat.text_field :name, class: "form-control" %>
          </div>  
          <div class="input-group col-xs-6">
            <span class="input-group-addon"><%= cat.label :colour %></span>
            <%= cat.text_field :colour, class: "form-control" %>
          </div> 
          <%= cat.link_to_remove "Remove this cat" %>
        <% end %>
     
        <p><%= f.link_to_add "Add a cat", :cats %></p>
    </div>    
    <div class="row">
        <div class="input-group col-xs-6">
          <%= f.submit class: "btn btn-default" %>
        </div>             
    </div>
<% end %>    