<%= nested_form_for @user , url: add_role_user_path, method: :post do |f| %>
    <h1>Add Role to <%= @user.name %></h1>
    <%= f.fields_for :roles do |role| %>
        <%= role.label 'Role Name' %>
        <%= role.text_field :name %>
         <%= role.link_to_remove "Remove this role" %>
    <% end %>
    
    <p><%= f.link_to_add "Add a role", :roles %></p>
    <%= f.submit %>
<% end %>

Params:
<%= params %>
<%= @roles %>