<h1>User list</h1>

<ul>
    <% @users.each do |user| %>
        <li><span><%= link_to user.name, edit_user_path(id: user.id) %></span>&nbsp;&nbsp;&nbsp;<span><%= link_to 'Delete', user_path(id: user.id), method: :delete, confirm: 'Are you sure you want to delete this user?' %></span></li>
    <% end %>
</ul>
