<h1><%= @user.name %></h1>
<h3>Details</h3>
<% if @user.file? %>
<%= image_tag(@user.file_url) %>
<% end %>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>

<% if @user.cats.count > 0 %>
    <h3>This guy's Cat's details</h3>
    <ul>
        <% @user.cats.each do |cat| %>
            <li>
                <p><%= cat.name %>, which is <%= cat.colour %> in colour.</p>
            </li>
        <% end %> 
    </ul>

<% end %>
