

<div class="container">
    <div class="col-xs-8 col-xs-offset-2">
        <h1>Create a Post</h1>
        <%= form_for @post do |f| %>
            <% if !@post.errors.messages.empty? %>
                
                <h5><%= error_count_message(@post.errors.messages.count) %></h5>
               <ul>
               
                      <%= output_error_messages(@post.errors.messages).html_safe %>
         
                </ul>
            <% end %>
            <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title , class: 'form-control',
                                    placeholder: 'Enter a Smart Title' %>
            </div>
           <div class="form-group">
                <%= f.label :body %>
                <%= f.text_area :body , class: 'form-control' , 
                                        rows: 10 ,
                                        placeholder: 'Write your Masterpiece here' %>
            </div>          
            <div class="form-group">
                <%= f.submit class: 'btn btn-primary' %>
            </div>
            
        <% end %>        
    </div>
</div>
